/* div{
    display: block;
} */
*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: right;
}

header h3{
    padding-right: 36px;
}

#startPage, #question-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    text-align: center;
    
}

#question-card #question,  #question-card button{
    display: none;
}

#intro{
    display: flex;
    justify-content: center;
    width: 500px;
    vertical-align: center;
}

#startPage p{
    padding-bottom: 30px;
    text-align: center;
}

#startPage button{
    background-color: aquamarine;
    text-decoration: none;
    text-transform: lowercase;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 50px;
    font-size: 22px;
}


#startPage button:hover, #question-card button:hover{
    background-color: aqua;
}

#question-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#question-card #question{
    font-size: 30px;
    padding-bottom: 30px;
}

#question-card #question-options{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 30px;
}

#question-card button{
    height:50px;
    width: 300px;
    text-align: left;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    border: none;
    font-size: 22px;
    padding-left: 20px;

}

#winlose{
    padding-top: 40px;
    font-size:26px;
    color: gray;
    text-transform: lowercase;
}


.hide{
    display: none;
}

#submit-initials{
    padding-left: 300px

}
